.control-btn {
  display: flex;
  align-items: center;
  height: 3.4rem;
  margin-right: 1.2rem;
  padding: 0 1.6rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  background-color: rgba(249, 250, 252, 0.94);
  box-shadow: rgb(34 45 57 / 8%) 0px 0px 0px 1px;

  img {
    margin-right: 1rem;
  }
}

.control-btn.active {
  background-color: rgb(62, 72, 84);
  color: #ffffff;
}
