<div class="inner">
  <div class="header">
    <h3 class="title">NASA Collection</h3>
    <app-button (handleClick)="addArticle()">
      <img src="assets/svg/add.svg" class="icon" alt="add" />
      Add new item
    </app-button>
  </div>
  <div class="videos">
    <app-video-item
      *ngFor="let article of articles$ | async"
      [article]="article"
      (handleOpenVideo)="openVideo($event)"
      (handleOpenEditModal)="openModal(addModal)"
    ></app-video-item>
  </div>
  <ng-template #addModal let-modal>
    <app-modal [modal]="modal"></app-modal>
  </ng-template>
</div>
