.inner {
  padding: 7rem 10rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 5rem;
      font-weight: bold;
      opacity: 0.3;
    }

    .icon {
      color: #ffffff;
      width: 2.4rem;
      height: 2.3rem;
      margin-right: 1.5rem;
    }
  }

  .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 8rem 1.5rem;
    margin-top: 7rem;
  }
}
