@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
