.wrapper {
  display: flex;
  position: relative;
  width: 100%;

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafc;

    .content {
      position: relative;
      background-color: #ffffff;

      .zoom {
        position: fixed;
        z-index: 1056;
        top: 3rem;
        right: 34rem;
      }

      .control-buttons {
        display: flex;
        position: fixed;
        z-index: 1056;
        bottom: 2rem;
      }
    }
  }
}
